<div class='row'>
  <div class='col-xs-10 col-xs-offset-1 text-center'>
    <h1>Posts</h1>
    <%= link_to('New Post', new_post_path, :class => 'btn btn-success btn-lg') %>
  </div>
</div>

<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    
    <table class='table table-striped table-bordered'>
    
      <thead class='bg-success text-center'>
        <tr>
          <td>Category</td>
          <td>Tags</td>
          <td>Body</td>
          <td>SHOW</td>
          <td>EDIT</td>
          <td>DELETE</td>
        </tr>
      </thead>

      <tbody>
        <%= render @post %>
      </tbody>

    </table>

  </div>
</div>